.form {
    .search {
        &-wrapper {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }

        &-bar {
            background-color: #fff;
            border-radius: 10px 0 0 10px;
            border: 2px solid #7366ff;
            outline-offset: 0;
            padding-left: 20px;
            padding: 12px 10px;
            flex: 1;
            color: #7366ff;
            outline: none;
        }
    }

    .btn {
        line-height: 32px;
        font-size: 16px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
